extends layout

include mixins/crearProyecto

block contenido
    .contenido-principal 
        h1 #{nombrePagina}

        if errorIngreso
            each Vingreso in errorIngreso 
                .alerta.error= Vingreso.texto

        pre=vardump(proyecto)

        +crearProyecto(proyecto)        

        
